.login-page {
  margin-top: 30px;
}

.p-2 {
  padding: 0px !important;
}

.logo {
  width: 400px;
}

#login-form {
  width: 400px;
  margin: 0 auto;
  display: table;
  padding: 20px;
  border-color: #D3E2E8 !important;
  border: 3px solid;
}

.group-btn {
  margin-top: 25px;
}

.group-btn button {
  width: 48%;
  color: #D3E2E8 !important;
}

.group-btn a {
  width: 48%;
}

#login-btn {
  margin-right: 10px;
}
